body {
    color:rgb(14, 224, 224);
    background:black;
}

header{
    border-bottom: solid 2px whitesmoke;
    padding: 20px;
    font-size: 32px;
    color: whitesmoke
}

section{
    background: rgb(24, 25, 26);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
